In [ ]:
import pandas as pd

df = pd.DataFrame([
    {'name': 'Maisey', 'breed': 'Treeing Walker Coonhound'},
    {'name': 'Oscar', 'breed': 'German Shorthaired Pointer'},
    {'name': 'Ramsay', 'breed': 'Native American Indian Dog'},
    {'name': 'Comet', 'breed': 'Whippet'}
])
df

In [154]:
import pandas as pd

df = pd.DataFrame([
    {'name': 'Comet', 'breed': 'Whippet', 'weight': 20, 'age': 1},
    {'name': 'Reese', 'breed': 'Whippet', 'weight': 30, 'age': 2},
    {'name': 'Prancer', 'breed': 'Whippet', 'weight': 35, 'age': 10},
        {'name': 'Maisey', 'breed': 'Treeing Walker Coonhound', 'weight': 65, 'age': 11},
    {'name': 'Butch', 'breed': 'Treeing Walker Coonhound', 'weight': 80, 'age': 7},
    {'name': 'Oscar', 'breed': 'German Shorthaired Pointer', 'weight': 75, 'age': 3},
    {'name': 'Minnie', 'breed': 'German Shorthaired Pointer', 'weight': 60, 'age': 5}
])
df

      name                       breed  weight  age
0    Comet                     Whippet      20    1
1    Reese                     Whippet      30    2
2  Prancer                     Whippet      35   10
3   Maisey    Treeing Walker Coonhound      65   11
4    Butch    Treeing Walker Coonhound      80    7
5    Oscar  German Shorthaired Pointer      75    3
6   Minnie  German Shorthaired Pointer      60    5

In [155]:
df.groupby(['breed']).mean()
#df.groupby(['breed'])['weight'].mean()

                               weight       age
breed
German Shorthaired Pointer  67.500000  4.000000
Treeing Walker Coonhound    72.500000  9.000000
Whippet                     28.333333  4.333333

In [153]:
df = df.drop(columns=['count'], errors='ignore')
df['count'] = 0
df.groupby(['breed']).count()['count']

breed
German Shorthaired Pointer    2
Treeing Walker Coonhound      2
Whippet                       3
Name: count, dtype: int64

In [156]:
players = pd.DataFrame([
    {'sport': 'hockey', 'team': 'Oilers', 'name': 'Wayne Gretzky'},
    {'sport': 'hockey', 'team': 'Oilers', 'name': 'Marty McSorley'},
    {'sport': 'hockey', 'team': 'Oilers', 'name': 'Grant Fuhr'},
    {'sport': 'hockey', 'team': 'Bruins', 'name': 'Phil Esposito'},
    {'sport': 'hockey', 'team': 'Bruins', 'name': 'Bobby Orr'},
    {'sport': 'baseball', 'team': 'Cardinals', 'name': 'Bob Gibson'}
])
players

      sport       team            name
0    hockey     Oilers   Wayne Gretzky
1    hockey     Oilers  Marty McSorley
2    hockey     Oilers      Grant Fuhr
3    hockey     Bruins   Phil Esposito
4    hockey     Bruins       Bobby Orr
5  baseball  Cardinals      Bob Gibson