In [192]:
import pandas as pd

df = pd.DataFrame([
    {'name': 'Maisey', 'breed': 'Treeing Walker Coonhound'},
    {'name': 'Oscar', 'breed': 'German Shorthaired Pointer'},
    {'name': 'Ramsay', 'breed': 'Native American Indian Dog'},
    {'name': 'Comet', 'breed': 'Whippet'}
])
df

     name                       breed
0  Maisey    Treeing Walker Coonhound
1   Oscar  German Shorthaired Pointer
2  Ramsay  Native American Indian Dog
3   Comet                     Whippet

In [198]:
df[1:3]

     name                       breed
1   Oscar  German Shorthaired Pointer
2  Ramsay  Native American Indian Dog

In [191]:
#df['breed'].astype('category')
df = df['breed'].astype('category')
df.dtypes

CategoricalDtype(categories=['German Shorthaired Pointer', 'Native American Indian Dog',
                  'Treeing Walker Coonhound', 'Whippet'],
                 ordered=False)

In [ ]:
import pandas as pd

df = pd.DataFrame([
    {'name': 'Comet', 'breed': 'Whippet', 'weight': 20, 'age': 1},
    {'name': 'Reese', 'breed': 'Whippet', 'weight': 30, 'age': 2},
    {'name': 'Prancer', 'breed': 'Whippet', 'weight': 35, 'age': 10},
        {'name': 'Maisey', 'breed': 'Treeing Walker Coonhound', 'weight': 65, 'age': 11},
    {'name': 'Butch', 'breed': 'Treeing Walker Coonhound', 'weight': 80, 'age': 7},
    {'name': 'Oscar', 'breed': 'German Shorthaired Pointer', 'weight': 75, 'age': 3},
    {'name': 'Minnie', 'breed': 'German Shorthaired Pointer', 'weight': 60, 'age': 5}
])
df

In [ ]:
df.groupby(['breed']).mean()
#df.groupby(['breed'])['weight'].mean()

In [ ]:
df = df.drop(columns=['count'], errors='ignore')
df['count'] = 0
df.groupby(['breed']).count()['count']

In [ ]:
players = pd.DataFrame([
    {'sport': 'hockey', 'team': 'Oilers', 'name': 'Wayne Gretzky'},
    {'sport': 'hockey', 'team': 'Oilers', 'name': 'Marty McSorley'},
    {'sport': 'hockey', 'team': 'Oilers', 'name': 'Grant Fuhr'},
    {'sport': 'hockey', 'team': 'Bruins', 'name': 'Phil Esposito'},
    {'sport': 'hockey', 'team': 'Bruins', 'name': 'Bobby Orr'},
    {'sport': 'baseball', 'team': 'Cardinals', 'name': 'Bob Gibson'}
])
players

In [ ]:
#layers['count'] = 1
#players.groupby(['sport', 'team']).count()['count']
players.groupby(['sport', 'team']).count()

In [183]:
subset_df = pd.DataFrame()
row_count = 10
for df in pd.read_csv('./movies/tmdb_5000_movies.csv', chunksize=row_count):
    filtered_df = df[df['vote_average'] >= 8]
    subset_df = pd.concat([subset_df, filtered_df])
#print(subset_df)
len(subset_df.index)

85