In [43]:
import pandas as pd

df = pd.DataFrame([
    {'name': 'Maisey', 'breed': 'Treeing Walker Coonhound'},
    {'name': 'Oscar', 'breed': 'German Shorthaired Pointer'},
    {'name': 'Ramsay', 'breed': 'Native American Indian Dog'},
    {'name': 'Comet', 'breed': 'Whippet'}
])

In [63]:
df.loc[df.name.str.contains('a') & (len(df.breed.str.split(' ')) == 3)]

Empty DataFrame
Columns: [name, breed]
Index: []

In [67]:
df2 = df.loc[df.name.str[0] < 'N']
df2

     name                     breed
0  Maisey  Treeing Walker Coonhound
3   Comet                   Whippet